/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
    box-sizing: border-box;
}

button,
summary {
    cursor: pointer;
}


@font-face {
    font-family: 'robotoregular';
    src: url('roboto-regular-webfont.woff2') format('woff2'),
        url('roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/
  :root {

    --color-text: #111;
    --color-background: #eee;
    --color-buttons:#005F27;
    --color-hovertext:#005F27;
    --color-hoverbuttons:#202020;
}





/****************/
/* JOUW STYLING */
/****************/


body {
    color: var(--color-text);
    background-color: white;
    font-family: 'robotoregular', Arial, sans-serif;
    margin-left: 0;
    padding: 0;

}



/*Vanaf dit punt begint de stijling van het navigatie menu*/


nav ul {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    list-style: none;
    padding-top: 1em;
    padding-bottom: 1em;



}




nav ul li:first-child {
    font-size: 2.5em;
    color: black;

}

/* MOVILE NAV */
nav > ul:last-of-type {
    display: none;
}



main{
    margin
}
/*Een klein deel code voor een paar aanpassingen aan de header*/

header {
    display: grid;
    background-color: white;
    grid-template-columns: 1fr max-content;
    align-items: center;
    gap: 1em;
    position: sticky;
    top: 0;
    z-index: 100;
    border-bottom: solid 0.1em #F3F3F3 ;
}


section:first-of-type {
    display: grid;
    margin-left: 20
    
}


nav > ul:first-of-type input[type=text] {
    display: grid;
    width: 40em;
    height: 3.5em;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: -1;
    background-image: url("../images/vergrootglas.svg");
    background-size: 2em;
    border-style: none;
    background-color: white;
    background-repeat: no-repeat;
    background-position: 1% 50%;
    border: solid 0.1em grey;
    border-radius: 0.3em;
    padding-left: 3em;
    background-color: #FFFCFC ;



}


nav > ul > li:nth-of-type(8){
    background-image: url(../images/bell.svg);
    background-size: 1.3em;
    background-repeat: no-repeat;
    background-position: 1% 50%;
   
    
}

nav > ul > li:nth-of-type(8) a{
    color: transparent;
   
    
}

nav img {
    width: 3.5em;
}



section p:nth-of-type(2) {
    color: black;
    background-color: gainsboro;

}

section ul img {
    width: 30em;
}


nav button {
    padding: 0.5em 2em;
    text-transform: capitalize;
}


nav button:nth-of-type(2) {
    background-color: black;
    color: white;

}

a {
    text-decoration: none;
    color: black;

}

/*de code hieronder gaat over de stijl van de eerste sectie in de code, ik deze heeft twee delen. Hier was ik nog bezig met het afmaken van het tweede deel.*/


section ul {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    list-style: none;
    padding-top: 1em;
    padding-bottom: 1em;

}



section p:nth-of-type(1) {
    font-size: 1.2em;
    color: dimgray;
    align-content: left;


}


/*Dit is het deel dat ik nog graag had willen afmaken*/

section li:nth-of-type(2){
    display: grid;
    background-color: white;
    border: lightgrey solid 0.2em;
    gap: 2em;
    width: 35%;
    height: 60%;
   
    
    

}


section li:nth-of-type(2) input[type=text]{
    width: 70%;
    padding: 1em 0em 1em 0em;
    align-content: center;
    margin: 0em 1em 0em 1em;
    

}

section li article {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1em;
    align-content: center;
    margin: 0em 1em 0em 1em;
    
}



section li article > button {
   padding:0.5em 2em 0.5em 2em;
    font-size: 1.2em;
}


section li article > button:nth-of-type(2) {
background-color: lightgreen;
    color: white;
}



section li:nth-of-type(2) p {
    background-color: white;
    font-size: 0.8em;
    color: green;
    text-align: center;
    padding:0em;

}


/*Dit is het tweede article over de product Details*/

main article:nth-of-type(2) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    margin-bottom: 2em;

}

main article:nth-of-type(2) li {
    display: grid;

}

/*Dit is het derde article deze heb ik gemaakt met grid*/

main article:nth-of-type(3) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2em;
    margin-bottom: 2em;



}


main article:nth-of-type(3) ul {
    background-color: #E9E9E9;
    color: black;
    list-style: none;



}

main article:nth-of-type(4) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2em;
    margin-bottom: 2em;


}

main article:nth-of-type(4) ul {
    background-color: #2B2B2B;
    color: white;

}


h2{
    margin-left: 1.5em;
}

/*Ik heb hier de carousel neergezet er zijn hier ook een aantal dingen waar ik nog meebezig was en die ik graag zou willen aanpassen*/

main article:nth-of-type(1) > ul {
    display: grid;
    width: 100vw;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    white-space: nowrap; 
    list-style: none;
     place-content: flex-start;
    align-self: center;
    grid-template-rows: min-content;
    gap:2em;
    
    
}

main article:nth-of-type(1) > ul >li {
    border: 0.1em solid lightgrey;
    padding: 0.65em;
    
}


main article:nth-of-type(1) > ul > li > a img {
  height: auto;
  max-width: 60%;
    
 
}

main article:nth-of-type(1) > ul > li > a h3 {
 font-weight: 400;
font-size: 0.8em;
 
}


main article:nth-of-type(1) > ul > li {
display:flex;
    
   
}


article img {
    max-width: 80%;

}


/*Vanaf hier begint de footer*/

footer {

    background-color: #212121;
    justify-content: center;

}

footer container {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    width: 90%;
    color: white;
    line-height: 1.8em;



}

footer h3 {
    color: white;
    padding-top: 1.2em;
    padding-left: 1em;
    font-size: 2.2em;
}

footer li {
    list-style: none;
    align-content: center;

}

footer ul:nth-last-of-type(7) {
    display: flex;
    align-items: center;
    align-content: center;
}

footer container:nth-of-type(2) ul {
    display: flex;
    flex-direction: row;
    background-color: red;
    align-content: center;
    justify-content: center;
    justify-content: space-evenly;
}


footer ul div {
    padding: 0.5em 2em;
    border-style: solid;
    border-color: white;
    background-color: black;
    font-size: 1.3em;
    color: white;
}


footer article {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;


    justify-content: space-evenly;




}

footer article ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    color: white;
    padding-right: 2em;


}


footer article:nth-of-type(2) ul {
    display: flex;
    align-items: flex-start;
    color: white;
    flex-direction: column;
    background-color: black;
    padding: 2em;
    margin-bottom: -1em;


}

footer article:nth-of-type(2) li {
    padding-bottom: 1em;
}

/*hier was ik ook al begonnen om mijn MQ te maken voor deze website, ik zou voor veel van de grid secties het font aanpassen zodat deze in de beschrijving past*/

/* Viewports between 320px and 480px wide */
@media (min-width: 20em) and (max-width: 60em) {
    body {
        
    }

    section p {

        font-size: 0.8em;
        padding-left: 2.8em;
        padding-right: 15em;
        padding-bottom: 2em;

    }

    nav ul input[type=text] {
        width: 10em;
        padding-top: 0.8em;
        10%;
    }





    footer container {
        display: flex;
        color: white;
        flex-direction: column;
        align-items: baseline;


    }



    footer {
        background-color: #212121;
        align-content: center;



    }

    footer h3 {
        color: white;

    }

    footer li {
        list-style: none;
        align-content: center;



    }



    footer ul:nth-last-of-type(7) {
        display: flex;




    }

    footer container:nth-of-type(2) ul {
        display: flex;
        flex-direction: column;
        background-color: red;
        align-content: center;


    }

    footer article ul li button {
        padding: 0.5em 2em;
        border-color: white;
        background-color: green;
        font-size: 1.3em;
        color: pink;


    }

    footer article {
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: center;
}

    footer article ul {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        list-style: none;
        color: white;
}

    footer article li {
        display: flex;
        justify-content: space-between;

    }

    article:nth-of-type(2) {
        font-size: 0.8em;
        flex-direction: column;
        padding-bottom: 5em;
    }
    
    
